.promo {
  background-color: #2400FF;
  color: white;
  padding: 40px 260px;
  gap: 20px;
  margin: 40px auto 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.title {
  font-size: 42px;
  margin-bottom: 26px;
  line-height: 1;
  width: fit-content;
}

.description {
  line-height: 1.5;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 26px;
  max-width: 553px;
  width: 80%;
  margin-left: 108px;
}

.image {
  align-self: end;
  justify-self: end;
}

.button {
  color: white;
  border-color: white;
  margin-left: 108px;
}

.button:hover {
  background-color: white;
  color: #2400FF;
}

.code {
  color: yellow;
}

.button:has(.promo-code):hover {
  background-color: transparent;
  cursor: default;
}

@media (width <= 1440px) {
  .promo {
    padding: 40px 120px;
  }

  .title {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
    margin-left: 90px;
  }
  .button {
    margin-left: 90px;
  }
}

@media (width <= 1024px) {
  .promo {
    padding: 80px 40px;
  }
}

@media (width <= 768px) {
  

  .description {
    margin-left: 0;
  }

  .button {
    margin-left: 0;
  }
}

@media (width <= 650px) {
  .promo {
    grid-template-columns: 1fr;
    gap: 80px;
    padding: 80px 14px;
  }

  .image {
    max-width: 500px;
    justify-self: start;
  }
}