.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card:hover {
  background-color: #FFFF00;
  transform: translate(-8px, -8px);
}

.image {
  width: 100%;
  aspect-ratio: 375 / 250;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid black;
}

.content-block {
  padding: 16px 16px 35px;
  border: 4px solid black;
  flex-grow: 1;
  display: grid;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description {
  line-height: 1.1;
  margin-bottom: 20px;
  font-size: 20px;
}

.info-container {
  align-self: end;
}

.author {
  font-size: 20px;
}

.author .accent {
  font-family: 'Rubic One', sans-serif;
}

.votes {
  font-size: 20px;
}

.votes .accent {
  font-family: 'Rubic One', sans-serif;
  display: inline-block;
  padding: 4px 17px 25px 4px;
  background-color: black;
  color: white;
}
@media (width <= 1440px) {
  .content-block {
    padding: 16px 16px 26px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 16px;
  }

  .author {
    font-size: 16px;
  }

  .votes {
    font-size: 16px;
  }

  .votes .accent {
    padding: 4px 15px 15px 4px;
  }
}

@media (width <= 650px) {

  .title {
    padding: 20px 14px 14px;
  }

  .title::before {
    left: 6px;
  }
}